{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if and (not .Params.private) (ne .Type "gallery") }}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>    
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>
{{ $post_count := 0 }}
{{ $photo_count := 0 }}
{{ range .Data.Pages }}
    {{ if eq .Type "gallery" }}
        {{ $photo_count = add $photo_count 1 }}
    {{ else }}
        {{ $post_count = add $post_count 1 }}
    {{ end }}
{{ end }}
{{ if and (gt $post_count 0) (gt $photo_count 0) }}
<br/>
{{ end }}
{{- partial "img_grid.html" . -}}

{{ end }}