{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="post-meta">
    <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "Jan. 2, 2006" }}</time>
    {{ with .Params.linkedin }}
        <span class="post-meta-sep">|</span><a href="{{ . }}">LinkedIn</a>
    {{ end }}
    {{ with .Params.twitter }}
        <span class="post-meta-sep">|</span><a href="{{ . }}">Twitter</a>
    {{ end }}
</div>
<div class="post-content">{{ .Content }}</div>
{{- partial "tag_list.html" . -}}
{{ template "_internal/disqus.html" . }}
{{ end }}